
body{
    background-color: teal;
}
.banner{
    /* border: 2px solid red; */
    display:  flex;
    justify-content: space-around;
    color: wheat;
    font-size: 25px;
    font-family: sans-serif;
}

.addScore{

    /* border: 2px solid red; */
    display:  flex;
    

}

.addScore button{
    border: none;
    padding: 10px;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(53, 29, 139);

}

.addWicket button{

    border: none;
    padding: 10px;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(53, 29, 139);
    margin: 20px;

}

.addBall button {

    border: none;
    padding: 10px;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(53, 29, 139);
    margin: 20px;

}